.POPOSList-spaces {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 2em;
}

.POPOSList form input {
  display: flex;
  margin: auto;
  width: 40%;
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: floralwhite;
}


  @media only screen and (max-width: 960px) {
    .POPOSList-spaces {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 480px) {
    .POPOSList-spaces {
      grid-template-columns: 1fr;
    }
  }