.Footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(192, 45, 26);
    color: #fff;
    margin: auto;
    margin-top: 2em;
  }