.POPOSSpace {
  background-color: floralwhite;
}
.POPOSSpace img {
    width: 100%;
    height: auto;
  }

  .POPOSSpace h2 {
    text-align: center;
  }

  .POPOSSpace-address {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
  }

  .POPOSSpace-link {
    color: darkcyan;
    text-decoration: none;
  }

  
